Repository CrowdStrike/puppet-falcon, pull requests merged in 2022-04, with the labels that each got.

#15 linux initial release candidate
  .github/workflows/lint_checks.yml
  .github/workflows/pr_acceptance_test.yml
  .github/workflows/pr_unit_test.yml
  .rspec
  Gemfile
  LICENSE.md
  README.md
  REFERENCE.md
  data/kernel/Darwin.yaml
  data/kernel/Linux.yaml
  data/kernel/windows.yaml
  lib/facter/falcon_version.rb
  lib/puppet/provider/falconctl/falconctl.rb
  lib/puppet/provider/sensor_download/sensor_download.rb
  lib/puppet/type/falconctl.rb
  lib/puppet/type/sensor_download.rb
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  manifests/service.pp
  metadata.json
  pdk.yaml
  provision.yaml
  spec/acceptance/falcon_install_spec.rb
  spec/classes/falcon_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/unit/facter/falcon_version_spec.rb
  spec/unit/puppet/provider/falconctl/falconctl_spec.rb
  spec/unit/puppet/type/falconctl_spec.rb
Labels: ok-to-test

#16 maint: correct spelling and grammar errors in README
  README.md
Labels: ok-to-test, maintenance

#19 allow `version_manage` to prevent api calls
  lib/facter/falcon_version.rb
  lib/puppet/provider/sensor_download/sensor_download.rb
  manifests/install.pp
  spec/classes/falcon_spec.rb
Labels: enhancement, ok-to-test

#21 add `falcon` fact
  lib/facter/falcon.rb
  lib/puppet/provider/sensor_download/sensor_download.rb
  manifests/install.pp
  spec/classes/falcon_spec.rb
Labels: enhancement, ok-to-test

#22 automate releases with workflows
  .github/workflows/acceptance-tests.yml
  .github/workflows/lint-checks.yml
  .github/workflows/lint_checks.yml
  .github/workflows/nightly.yml
  .github/workflows/pr_unit_test.yml
  .github/workflows/release-prep.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  Gemfile
  metadata.json
Labels: ok-to-test, maintenance

#23 Add security tag to metadata
  metadata.json
Labels: maintenance

#25 Rename LICENSE.md to LICENSE
  LICENSE
Labels: maintenance

#26 Checkout action to use `sha`
  .github/workflows/acceptance-tests.yml
Labels: maintenance
